#logo {
  height: 30px;
}
.navbar {
  background-color: rgb(243, 133, 30);
  opacity: 0.8;
}

.nav-link {
  color: black;
}
.buscar {
  padding-top: 60px;
}
.navbar-toggler {
  color: black;
}
.parallax-promo {
  background-image: url("../images/textura_parallax.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 20vh;
  font-size: 40px;
}
.btn {
  background-color: rgb(243, 133, 30);
  color: white;
}

.btn:hover {
  background-color: gray;
  color: white;
}

.arow {
  margin: 50px;
}

.card {
  height: 100;
}
.card:hover {
  color: rgb(79, 209, 166);
  border: blueviolet 0.5px solid;
}

.card-img-top {
   height: 200px;
  object-fit: contain;
}

.footer {
  font-weight: bold;
}
